@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #1cacffc2;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px;
  top: 30%;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
}

.btn{
  background-color: #efb25d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
}

.card-container {
  position: relative;
  width: 40%;
  height: 10vh;
  left: 29%;
  top: 32%;
  display: grid;
  grid-template-areas:
      'left top top top top'
      'left bottom bottom bottom bottom';
  background-color: transparent;  
  border: none;
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.63);
  box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.63);
}

.left-chunk{
  display: flex;
  align-items: center;
  width: 60%;
  padding-right: 9px;
  justify-content: center;
  background-color: #66ec4aa1;
  color: #ffffff;
  border: none;
  border-radius: 15px 0px 0px 15px;
}

.left-chunk > h1 {
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.top-chunk{
  left: -64px;
  width: 112%;
  display: flex;
  position: relative;
  background-color: #c3e5ff;;
  align-items: center;
  border-radius: 0px 15px 0px 0px;
  padding-left: 10px;
}

.bottom-chunk {
  left: -64px;
  width: 112%;
  display: flex;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  border-radius: 0px 0px 15px 0px;
  padding-left: 10px;
}


.left-chunk { grid-area: left; }
.top-chunk { grid-area: top; }
.bottom-chunk { grid-area: bottom; }

.footer {
  position: relative;
  color: #ffffff;
  text-align: center;
  top: 35%;
  text-transform: uppercase;
  font-weight: 200;
}

/* @media only screen and (max-width: 1300px) {
  .title {
    white-space: nowrap;
    font-size: small;
  }
  .card-container {
    position: relative;
    width: 81%;
    height: 8vh;
    left: 9%;
    top: 32%;
    display: grid;
    grid-template-areas:
        'left top top top top'
        'left bottom bottom bottom bottom';
    background-color: #66ec4a36;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 9px 12px -5px rgb(0 0 0 / 63%);
}
  .left-chunk > h1 {
    padding-left: 36px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    padding-right: 10px;
}
  .left-chunk {
    display: flex;
    align-items: center;
    width: 60%;
    padding-right: 39px;
    justify-content: center;
    background-color: #66ec4aa1;
    color: #ffffff;
    border: none;
    border-radius: 15px 0px 0px 15px;
}
.top-chunk {
  left: -64px;
  width: 117%;
  display: flex;
  position: relative;
  background-color: #c3e5ff;
  align-items: center;
  border-radius: 0px 15px 0px 0px;
  padding-left: 10px;
}
.bottom-chunk {
  left: -64px;
  width: 117%;
  display: flex;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  border-radius: 0px 0px 15px 0px;
  padding-left: 10px;
}
}

@media only screen and (max-width: 679px) {
  .header {
    gap: 50px;
  }
  .btn {
    font-size: 12px;
    padding: 7px 5px;
  }
  .card-container {
    height: 9vh;
  }
  .top-chunk {
    width: 146%;
  }
  .bottom-chunk {
    width: 146%;
  }
} */